/* css styles */

/* Text spacing */
.vertical-center, vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.callout.callout-style-default>div.callout-header {
  background-color: lighten(var(--bs-callout-color), 0.5);
  border-bottom:none;
  font-weight:600;
  opacity: 75%;
  font-size: 0.9rem;
  padding-left: 0.5em;
  padding-right:0.5em;
}
.callout.callout-style-default div.callout-body {
  padding-left:.5em;
  padding-right:.5em
}
.greybox {
  background-color: var(--bs-gray-200);
  border: solid var(--bs-primary) 1px;
}

.btn .a, .btn a {
  color: white;
  text-decoration: none;
}

/*
.btn .p, .btn p {
  padding: 0.75em !important;
}
*/

.btn .a:hover, .btn a:hover {
  color: var(--bs-gray-200);
  text-decoration: none;
}

.spacer-4em {
  margin: 2em;
  padding: 0px;
}

.spacer-1em {
  margin: 0.5em;
  padding: 0px;
}

