/* css styles */

.title, title,
.h4, h4,
.h3, h3,
.h2, h2,
.h1, h1 {
  font-family: Inter, sans-serif;
  font-weight: bold;
  color:var(--primary);
  border-bottom: none;
  letter-spacing: 120%;
  line-height: 125%;
  padding: 1.25em 0.5em 1em 0.5em;
}

.title, title {
  font-size: 2.5rem;
  font-weight: 750;
  box-sizing: border-box;
  padding-top: 1.75em;
}

.h1, h1 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

.h2, h2 {
  font-size: 1.5em;
  text-align: left;
}

.h4, h4,
.h3, h3 {
  text-align: left;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.h3, h3 {
  font-size: 1.25em;
}

.h4, h4,
.p, p,
.body, body {
  font-family: Nunito, sans-serif;
  font-size: 1em;
  line-height: 130%;
}

.ol, ol {
  text-align: left;
}

.bf, bf {
  font-weight: bold;
}

/* Text spacing */

.p, p,
.body, body {
  padding: 0em 0.5em 1em 0.5em;
}
p:first-child {
  padding-top: 1em;
}
p:last-child {
  padding-bottom: 2em;
}

.cell-code, cell-code {
  background-color: --var(bs-gray-300);
  border: 1px solid --var(bs-gray-600);
}

/** Changes to default navbar **/

.navbar {
  font-size: 1.25em;
  letter-spacing: 120%;
  line-height: 125%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-brand {
  width: 2em;
}

.navbar-brand > img {
  width: 100%;
}

/** Changes to default footer layout **/

.nav-footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} 

.footer, footer {
  margin: 0px;
}

.nav-footer a {
  display: inline-block;
}

.nav-footer-center {
  flex-grow: 0;
}

code {
  font-size:1em;
  color:var(code-color);
  background-color:var(code-bg);
}

.vertical-center,
vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.callout.callout-style-default>div.callout-header {
  background-color: lighten(var(--callout-color), 0.5);
  border-bottom:none;
  font-weight:600;
  opacity: 75%;
  font-size: 0.9rem;
  padding-left: 0.5em;
  padding-right:0.5em;
}
.callout.callout-style-default div.callout-body {
  padding-left:.5em;
  padding-right:.5em
}

.callout-note {
  background-color: #007da7;
}

.callout-important {
  background-color: #5bc0de;
}

.callout-tip {
  background-color: #43ac6a;
}

.callout-caution {
  background-color: #e99002;
}

.callout-warning {
  background-color: transparent;
}


