/*-- scss:defaults --*/
$white:          #ffffff;
$black:          #000000;

$light-grey:     #f1f0f4;
$dark-grey:      #f1f0f4;
$light-blue:     #1597CB;
$dark-blue:      #01034c;
$dark-purp:      #702963;
$light-purp:     #efe3fd;
$dark-pink:      #000000;
$light-pink:     #fc6c85;
$dark-green:     #000000;
$light-green:    #ffffff;
$dark-orange:    #000000;
$light-orange:   #ffffff;
$orange:         #FBCEB1;

$body-bg:        $white;                                     // The page background color.
$body-color:     $dark-blue;                                                       // The page text color.

$code-color:     $dark-purp;// The text color of inline code. Defaults to a generated contrasting color against the code-bg.

$h1-color:       $light-blue;
$h2-color:       $light-blue;
$h3-color:       $light-blue;
$h4-color:       $dark-blue;

$font-size-root: 1em;                   // The base font size for the page.
$toc-font-size:  0.6em;                   // The font size for the page TOC.
$h4-font-size:   $font-size-root*1.25;
$h3-font-size:   $h4-font-size*1.25;
$h2-font-size:   $h3-font-size*1.25;
$h1-font-size:   $h2-font-size*1.25;

$link-color:     $light-pink;                   // The link color.

$input-bg:       $light-grey;                   // The background color for HTML inputs.
$popover-bg:     $light-grey;                   // The background color for popovers (e.g. when a citation preview is shown).
$code-bg:        $light-grey;                   // The background color of inline code. Defaults to a mix between the body-bg and body-color.

// Fonts

// Code Blocks
$code-block-border-left:          $dark-purp;                   // By default, Quarto does not display a left border on code blocks. Set this variable to a truthy value or a CSS color to enable the left border.
$code-block-border-left-size:     2px;                   // The thickness of the left border displayed on code blocks. Defaults to 3px;
$code-block-padding-left:         0.75em;                   // The amount of padding applied between the code and the border. Defaults to 0.6em.
$code-block-bg:                   $light-purp;               // By default, Quarto sets a background on code blocks by adding transparency to the theme’s progress-bg color. Set this variable to truthy value or a CSS color.
$code-block-bg-padding:           0.5em;// The padding applied to the code block. Defaults to 0.4em.

// Code Copy (enable code-copy: true)
$btn-code-copy-color:             $dark-purp;// The color used for the copy button at the top right of code blocks.
$btn-code-copy-color-active:      $dark-purp;// The hover color used for the copy button at the top right of code blocks.

// Inline Code

// Table of Contents
$toc-color:                       $body-color;// The color for table of contents text.
$toc-font-size:                   $font-size-root;// The font-size for table of contents text.
$toc-active-border:               $dark-blue;// The left border color for the currently active table of contents item.
$toc-inactive-border:             $light-blue;// The left border colors for inactive table of contents items.

// Layout
$content-padding-top:             2.5em;// Padding that should appear before the main content area (including the sidebar, content, and TOC.

// Navigation
$navbar-bg:                    $dark-blue;// The background color of the navbar. Defaults to the theme’s $primary color.
$navbar-fg:                    $white;// The color of foreground elements (text and navigation) on the navbar. If not specified, a contrasting color is automatically computed.
$navbar-hl:                    $light-grey;// The highlight color for links in the navbar. If not specified, the $link-color is used or a contrasting color is automatically computed.
$sidebar-bg:                    $white;// The background color for a sidebar. Defaults to $light except when a navbar is present or when the style is floating. In that case it defaults to the $body-bg color.
$sidebar-fg:                    $dark-blue;// The color of foreground elements (text and navigation) on the sidebar. If not specified, a contrasting color is automatically computed.
$sidebar-hl:                    $light-grey;// The highlight color for links in the sidebar. If not specified, the $link-color is used.
$footer-bg:                     $primary;// The background color for the footer. Defaults to the $body-bg color.
$footer-fg:                     $white;// The color of foreground elements (text and navigation) on the footer. If not specified, a contrasting color is automatically computed.

// Callouts
$callout-border-width:                    3px;// By default, Quarto does not display a left border on code blocks. Set this variable to a truthy value or a CSS color to enable the left border. Defaults to 5px.
//$callout-icon-scale:                    ;// The color of the callout icon computed by shifting the callout color by this amount. Defaults to 10%.
$callout-margin-top:                    2em;// The amount of top margin on the callout. Defaults to 1.25rem.
$callout-margin-bottom:                    2em;// The amount of bottom margin on the callout. Defaults to 1.25rem.
//$callout-color-note:                    $accent1;
//$callout-color-tip:                    $accent2;
//$callout-color-caution:                    $accent2;
//$callout-color-warning:                    #edcb01;
//$callout-color-important:                    #4491bf;

hr {
  border: none;
  height: 3px;
  /* Set the hr color */
  color: $orange;  /* old IE */
  background-color: #333;  /* Modern Browsers */
}