/* css styles */
:root {
  color-scheme:dark;
  --primary: #04c1d7;
  --secondary: #4b4260;
  --accent1: #388b65;
  --accent2: #1a7989;
  --accent3: #2e9f81;
  --success: #01ae53;
  --info: #4491bf;
  --warning: #edcb01;
  --danger: #f90028;
  --light: #eff8f8;
  --dark: #002142;
  --body-color: #F7F8F8;
  --body-bg: #002850;
  --code-color: #eff8f8;
  --code-bg: #4b4260;
  --border-color: #F7F8F8;
  --form-valid-color: #01ae53;
  --form-valid-border-color: #01ae53;
  --form-invalid-color: #f90028;
  --form-invalid-border-color: #f90028
}
