/* css styles */
:root,[data-theme=light] {
  --primary: #04c1d7;
  --secondary: #4b4260;
  --accent1: #388b65;
  --accent2: #1a7989;
  --accent3: #2e9f81;
  --success: #01ae53;
  --info: #4491bf;
  --warning: #edcb01;
  --danger: #f90028;
  --light: #eff8f8;
  --dark: #002142;
/* Start here */
  --body-color: #002142;
  --body-bg: #ffffff;
  --highlight-bg: #ABEDFE;
  --code-color: #4b4260;
  --code-bg: #eff8f8;
  --border-color: #1a7989;
  --form-valid-color: #01ae53;
  --form-valid-border-color: #01ae53;
  --form-invalid-color: #f90028;
  --form-invalid-border-color: #f90028
}
[data-theme=dark] {
  color-scheme:dark;
  --body-color: #F7F8F8;
  --body-bg: #002850;
  --code-color: #eff8f8;
  --code-bg: #4b4260;
  --border-color: #F7F8F8;
  --form-valid-color: #01ae53;
  --form-valid-border-color: #01ae53;
  --form-invalid-color: #f90028;
  --form-invalid-border-color: #f90028
}

.p,
.body {
    margin-bottom: 1.5em;
    text-align: left;
    font: 1em/160% Inter, sans-serif;
    font-weight: 450;
    color:var(--body-color);
    background-color:var(--body-bg);
}

.h1,
.h2,
.h3,
.h4 {
    text-align: left;
    line-height: 120%;
    margin-top: 1.5em;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    font-family: Nunito, sans-serif;
}

.h1 {
    font-size: 160%;
}

.h2 {
    font-size: 140%;
}

.h3 {
    font-size: 120%;
}

code {
  font-size:1em;
  color:var(code-color);
  background-color:var(code-bg);
}

.phantom-light {
    background-color:var(--light);
}

.phantom-dark {
    background-color:var(--dark);
}