/* css styles */
.p, p,
.body, body {
    margin-bottom: 1.5em;
    text-align: left;
    font: 1em/160% Inter, sans-serif;
    font-weight: 450;
    color:var(--body-color);
    background-color:var(--body-bg);
}

.h1, h1,
.h2, h2, 
.h3, h3,
.h4, h4 {
    text-align: left;
    line-height: 120%;
    margin-top: 1.5em;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    font-family: Nunito, sans-serif;
}

.h1, h1 {
    font-size: 160%;
}

.h2, h2 {
    font-size: 140%;
}

.h3, h3 {
    font-size: 120%;
}

code {
  font-size:1em;
  color:var(code-color);
  background-color:var(code-bg);
}

.vertical-center,
vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

