/* css styles */
.p, p,
.body, body {
    text-align: left;
    font: 1em/160% Inter, sans-serif;
    font-weight: 350;
    color:var(--body-color);
    background-color:var(--body-bg);
}

.h1, h1,
.h2, h2, 
.h3, h3,
.h4, h4 {
    text-align: left;
    margin-top: 1.5em;
    font-weight: 400;
}

.h1, h1,
.h2, h2 {
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 0px;
}

.navbar {
  font: 1em/160% Inter, sans-serif;
  font-weight: 500;
}

.nav-footer {
  background-color:var(--bs-blue);
  color:var(--bs-gray-200);
}

code {
  font-size:1em;
  color:var(code-color);
  background-color:var(code-bg);
}

.vertical-center,
vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.callout.callout-style-default>div.callout-header {
  background-color: lighten(var(--callout-color), 0.5);
  border-bottom:none;
  font-weight:600;
  opacity: 75%;
  font-size: 0.9rem;
  padding-left: 0.75em;
  padding-right:0.75em;
}

.callout-note {
  background-color: #007da7;
}

.callout-important {
  background-color: #5bc0de;
}

.callout-tip {
  background-color: #43ac6a;
}

.callout-caution {
  background-color: #e99002;
}

.callout-warning {
  background-color: transparent;
}


